<div class="d-flex justify-content-between">
  <div class="bookings">
    <div class="bookings-ul">
      <% if @bookings.empty? %>
        <%= '' %>
      <% else %>
        <% if @chatroom.student == current_user %>
          <h2 class="my-bookings">My Bookings</h2>
        <% elsif @chatroom.teacher == current_user %>
          <h2>My incoming Requests</h2>
        <% end %>
        <% @bookings.each do |booking| %>
          <div class="li-bookings">
            <div class="li-div-width"><%= booking.skill %></div>
            <div class="li-div width">
              <% if booking.remote %>
                <i class="fas fa-video"></i>
              <% else %>
                <i class="fas fa-video-slash"></i>
              <% end %>
            </div>
            <div class="li-div-width"><%= booking.status %></div>
            <% if current_user == booking.student %>
              <div class="li-div-width"><%= booking.date.strftime("%a %e. %b at %l:%M %p") %></div>
              <div class="li-div-width confirmation-action"><%= link_to ('<i class="fa fa-trash fa-lg"></i>').html_safe, booking_path(booking), method: :delete, class: "btn btn-cancel", data: { confirm: "Are you sure you want to delete this booking?" } %></div>
            <% else %>
              <div class="li-div-width">
                <%= simple_form_for [booking], html: { class: 'simple-form' } do |f| %>
                  <%= f.input :date, as: :string, required: false, input_html: {class: "datepicker"}, label: false %>
                  <%= hidden_field_tag :status, 'Accepted' %>
                  <%= button_tag type: 'submit', class: "btn btn-cancel" do %>
                    <i class="fa fa-user-check" ></i>
                  <% end %>
                  <div class="li-div-width confirmation-action">
                    <%= link_to ('<i class="fa fa-user-times"></i>').html_safe, booking_path(booking, status: 'Rejected'), method: :patch, class: "btn btn-cancel", data: { confirm: "Are you sure you want to accept this booking?" } %>
                  </div>
                <% end %>
              </div>
            <% end %>
          </div>
        <% end %>
      <% end %>

      <%# requests %>
      <% if @requests.empty? %>
        <%= '' %>
      <% else %>
        <% if @chatroom.teacher == current_user %>
          <h2 class="my-bookings">My Bookings</h2>
        <% elsif @chatroom.student == current_user %>
          <h2>My incoming Requests</h2>
        <% end %>
        <% @requests.each do |request| %>
          <div class="li-bookings">
            <div class="li-div-width"><%= request.skill %></div>
            <div class="li-div-width">
              <% if request.remote %>
                <i class="fas fa-video"></i>
              <% else %>
                <i class="fas fa-video-slash"></i>
              <% end %>
            </div>
            <div class="li-div-width"><%= request.status %></div>
            <% if current_user == request.student %>
              <div class="li-div-width"><%= request.date.strftime("%a %e. %b at %l:%M %p") %></div>
              <div class="li-div-width confirmation-action"><%= link_to ('<i class="fa fa-trash fa-lg"></i>').html_safe, booking_path(request), method: :delete, class: "btn btn-cancel", data: { confirm: "Are you sure you want to delete this booking?" } %></div>
            <% else %>
              <div class="li-div-width">
                <%= simple_form_for [request], html: { class: 'simple-form' } do |f| %>
                  <%= f.input :date, as: :string, required: false, input_html: {class: "datepicker"}, label: false %>
                  <%= hidden_field_tag :status, 'Accepted' %>
                  <%= button_tag type: 'submit', class: "btn btn-cancel" do %>
                    <i class="fa fa-user-check" ></i>
                  <% end %>
                  <div class="li-div-width confirmation-action">
                    <%= link_to ('<i class="fa fa-user-times"></i>').html_safe, booking_path(request, status: 'Rejected'), method: :patch, class: "btn btn-cancel", data: { confirm: "Are you sure you want to accept this booking?" } %>
                  </div>
                <% end %>
              </div>
            <% end %>
          </div>
        <% end %>

      <% end %>
    </div>
  </div>

  <%# Chatroom %>
  <div class="container chatroom"
      data-controller="chatroom-subscription"
      data-chatroom-subscription-chatroom-id-value="<%= @chatroom.id %>">
    <% if @chatroom.student == current_user %>
      <h1><%= @chatroom.teacher.username %></h1>
    <% else %>
      <h1><%= @chatroom.student.username %></h1>
    <% end %>

    <div class="messages" data-chatroom-subscription-target="messages">
      <% @chatroom.messages.each do |message| %>
        <%= render "messages/message", message: message %>
      <% end %>
    </div>

    <%= simple_form_for [ @chatroom, @message ],
      remote: true,
      html: {data: {chatroom_subscription_target: "form"}, class: "d-flex"} do |f|
    %>
      <%= f.input :content,
        label: false,
        placeholder: "Message",
        wrapper_html: {class: "flex-grow-1"}
      %>
      <%= f.submit "Send", class: "button-main" %>
    <% end %>
  </div>
</div>
