<%# <h4><%= link_to "Go back", skills_path(@skill[:id])%>
<div class="d-flex justify-content-between">
  <div class="teacher-profile">
    <div class="teacher-information">
      <%= image_tag @user_skill.user.image, class:'img-rectangle' %>
      <h2><%= @user_skill.user.username %></h2>
      <p>City: <%= @user_skill.user.location %></p>
      <p>Language: <%= @user_skill.user.language %></p>
      <p>Age: <%= @user_skill.user.age %> years old</p>
      <p>Rating: <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i></p>
    </div>
    <div class="teacher-description">
      <p><%= @user_skill.user.description %></p>
    </div>
  </div>

  <div class="booking-form cartoon-form">
    <%= simple_form_for [@user_skill, @booking] do |f| %>
      <h2>Send your request to <%= @user_skill.user.username %> for <%= @user_skill.skill.name %></h2>
      <%= f.input :message %>
      <%= f.input :date, as: :string, required: false, input_html: {class: "datepicker"} %>
      <%= f.input :remote, as: :boolean %>
      <div class="d-grid">
        <%= f.submit class:'button-main' %>
      </div>
    <% end %>
  </div>

</div>
