<div class="d-flex justify-content-between">

  <div class="teacher-profile">
    <div class="picture-profile">
      <%= image_tag @user_skill.user.image, class:'img-circle' %>
    </div>
    <div>
      <h2 class="teacher-information"><%= @user_skill.user.username %></h2>
      <p><%= @user_skill.user.location %></p>
      <p><%= @user_skill.user.language %></p>
      <p><%= @user_skill.user.age %></p>
      <p><%= @user_skill.user.description %></p>
    </div>
  </div>

  <%= simple_form_for [@user_skill, @booking] do |f| %>
    <div class="booking-form">
      <h2>Send your request</h2>
      <%= f.input :remote, as: :boolean %>
      <%= f.input :message %>
      <%= f.input :date %>
      <%= f.submit class:'button-main' %>
    </div>
    <% end %>

</div>
