<div>
  <%= image_tag @user_skill.user.image %>
  <%= @user_skill.user.username %>
  <%= @user_skill.user.location %>
  <%= @user_skill.user.language %>
  <%= @user_skill.user.age %>
  <%= @user_skill.user.description %>

  <%= simple_form_for [@user_skill, @booking] do |f| %>
    <%= f.input :remote %>
    <%= f.input :message %>
    <%= f.input :date %>
    <%= f.submit %>
  <% end %>
</div>
