
<div class="d-flex justify-content-between">

  <div class="teacher-profile">

      <div class="teacher-information">
        <%= cl_image_tag @user_skill.user.photo.key, class:'img-rectangle' %>
        <div class="teacher-description">
          <h2><%= @user_skill.user.username %></h2>
          <p><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i></p>
          <p>City: <%= @user_skill.user.location %></p>
          <p>Language: <%= @user_skill.user.language %></p>
          <p class="user-sill-quote">"<%= @user_skill.user.description %>"</p>
        </div>
      </div>

      <div class="teacher-skill">
        <div class="review-box">
          <h5>My reviews:</h5>
            <% @reviews.each do |review| %>
            <div class="review">
              <p><strong><%= review.title %></strong></p>
              <p><%= review.content %></p>
            </div>
            <% end %>
        </div>
      </div>

  </div>

    <div class="booking-form cartoon-form">

      <% if user_signed_in? %>
        <%= simple_form_for [@user_skill, @booking] do |f| %>
          <h2>Send your request to <%= @user_skill.user.username %> for <%= @user_skill.skill.name %></h2>
          <%= f.input :message %>
          <%= f.input :date, as: :string, required: false, input_html: {class: "datepicker"} %>
          <%= f.input :remote, as: :boolean %>
          <div class="d-grid">
            <%= f.submit class:'button-main' %>
          </div>
        <% end %>
        <p class="user-skill-points">You currently have <%=current_user.points %> points.</p>
      <% else %>
        <p class="user-skill-points">Please <%= link_to "sign in", new_user_session_path, class:"sign-in-link" %> to book a class with <%= @user_skill.user.username %> for <%= @user_skill.skill.name %>.</p>
        <div>
          <%= simple_form_for [@user_skill, @booking] do |f| %>
            <%= f.input :message, disabled: true %>
            <%= f.input :date, as: :string, required: false, input_html: {class: "datepicker"}, disabled: true %>
            <%= f.input :remote, as: :boolean, disabled: true %>
            <div class="d-grid">
              <%= f.submit class:'button-main', disabled: true %>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>

  <%# </div> %>

  <h5 class="back"><%= link_to 'Go back', :back %></h5>
</div>
