<div>
  <%= image_tag @user_skill.user.image %>
  <%= @user_skill.user.username %>
  <%= @user_skill.user.location %>
  <%= @user_skill.user.language %>
  <%= @user_skill.user.age %>
  <%= @user_skill.user.description %>
</div>
