
<div class="d-flex justify-content-between">

  <div class="teacher-profile">

      <div class="teacher-information">
        <%= cl_image_tag @user_skill.user.photo.key, class:'img-rectangle' %>
        <div class="teacher-description">

          <h2><%= @user_skill.user.username %></h2>
              <!-- Button trigger modal -->
          <button type="button" class="btn btn-cancel" data-bs-toggle="modal" data-bs-target="#showReview<%= @user_skill.id %>" id="rating-button">
            <p><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i></p>
          </button>
          <p><i class="fa-solid fa-location-dot"></i><%= @user_skill.user.location %></p>
          <p><i class="fa-solid fa-comment"></i><%= @user_skill.user.language %></p>
          <p class="user-sill-quote">"<%= @user_skill.user.description %>"</p>
        </div>
      </div>
      <div class="teacher-information">
     <div class="other-skills">
       <p>I also teach: </p>
        <% @user_skills.each do |user_skill|%>
          <ul>
            <li>
              <p><%= user_skill.name%></p>
            </li>
          </ul>
        <% end %>
     </div>
      </div>


      <!-- Modal -->
      <div class="modal fade" id="showReview<%= @user_skill.id %>" tabindex="-1" aria-labelledby="showReview<%= @user_skill.id %>Label" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel"><%=  @user_skill.user.username %>'s reviews</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <% @reviews.each do |review| %>
              <div class="review">
                <p><strong><%= review.title %></strong></p>
                <p><%=review.content %></p>
              </div>
              <% end %>
            </div>
          </div>s
        </div>
      </div>

  </div>

    <div class="booking-form cartoon-form">

      <% if user_signed_in? %>
        <%= simple_form_for [@user_skill, @booking] do |f| %>
          <h2>Send request for <%= @user_skill.skill.name %></h2>
          <%= f.input :message %>
          <%= f.input :date, as: :string, required: true, input_html: {class: "datepicker"}, label: "Suggested time and date:" %>
          <%= f.input :remote, as: :boolean %>
          <div class="d-grid">
            <%= f.submit class:'button-main' %>
          </div>
        <% end %>
        <p class="user-skill-points">You currently have <%=current_user.points %> points.</p>
      <% else %>
        <p class="user-skill-points">Please <%= link_to "log in", new_user_session_path, class:"sign-in-link" %> to book a class for <%= @user_skill.skill.name %>.</p>
        <div>
          <%= simple_form_for [@user_skill, @booking] do |f| %>
            <%= f.input :message, disabled: true %>
            <%= f.input :date, as: :string, required: true, input_html: {class: "datepicker"}, disabled: true, label: "Suggested time and date:" %>
            <%= f.input :remote, as: :boolean, disabled: true, label: "Remote ?" %>
            <div class="d-grid">
              <%= f.submit class:'button-main', disabled: true %>
            </div>
          <% end %>
        </div>
      <% end %>

    </div>
</div>
<h5 class="back"><%= link_to 'Go back', :back %></h5>
