<div class="homescreen">
  <div class="leftscreen">
    <div class="centre">
    <h1>SKILL-UP</h1>
    <h5><strong>Teach</strong> your skills, <strong>earn</strong> points and <strong>learn</strong> new skills for free!</h5>
  <div class="search-home">
  <%= form_tag skills_path, method: :get do %>
  <%= text_field_tag :query,
    params[:query],
    class: "search-1",
    placeholder: "Skill"
  %>
  <% end %>
  <%= form_tag skills_path, method: :get do %>
  <%= text_field_tag :query,
    params[:query],
    class: "search-1",
    placeholder: "City"
  %>
  <%= submit_tag "Search", class: "button-main" %>
<% end %>
</div>

    </div>
  </div>
  <div class="rightscreen">
   <div class="navbar navbar-expand-sm navbar-light navbar-lewagon" style="background: transparent;">
  <div class="container-fluid" style="justify-content: flex-end;">


    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <% if user_signed_in? %>
          <div class="navbar-right">
            <li class="nav-item dropdown">
              <%= image_tag "https://kitt.lewagon.com/placeholder/users/ssaunier", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
              <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                <%= link_to "Profile", "#", class: "dropdown-item" %>
                <%= link_to "Bookings", "#", class: "dropdown-item" %>
                <%= link_to "Requests", "#", class: "dropdown-item" %>
                <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
              </div>
            </li>
          </div>
        <% else %>
          <li class="nav-item">
            <%= link_to "Login", new_user_session_path, class: "nav-link" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>



    <div class="cartoon">
      <img src="/assets/cool_kids-4083c683dbcd9b37576a04b86332ce0ebabcf9add6bc49344984811cd7f2aab4.svg" style="
    height: 700px;
    width: 700px;">
    </div>
  </div>
</div>
