<div class="how-it-works">
  <h1>Welcome to SKILL-UP</h1>
  <h2>Want to learn a new skill but have no money to pay for an expansive course?</h2>
  <h3>Welcome to SKILL-UP!</h3>
  <div class="explanations">
    <div class="explanation expl-left">
      <div class="explanation-info">
        <p>1. Set up your profile</p>
      </div>
      <%= image_tag 'profile.png', class:'explanation-image' %>
    </div>
    <div class="explanation expl-right">
      <%= image_tag 'plant.png', class:'explanation-image' %>
      <div class="explanation-info">
        <p>2. Tell us what skills you can <strong>teach</strong>, eg. gardening</p>
      </div>
    </div>
    <div class="explanation expl-center-left">
      <div class="explanation-info">
        <p>3. <strong> Teach</strong> someone your skill...</p>
      </div>
      <%= image_tag 'gardening.png', class:'explanation-image' %>
    </div>
    <div class="explanation expl-right">
      <%= image_tag 'point.png', class:'explanation-image' %>
      <div class="explanation-info">
        <p>... and <strong>earn</strong> 10 points each lesson</p>
      </div>
    </div>
    <div class="explanation expl-center-left">
      <div class="explanation-info">
        <p>4. Find the skill you want to <strong>learn</strong>, eg. playing the guitar</p>
      </div>
      <%= image_tag 'guitar.png', class:'explanation-image' %>
    </div>
    <div class="explanation expl-left">
      <%= image_tag 'city.png', class:'explanation-image' %>
      <div class="explanation-info">
        <p>You can take the lesson either in person in your city...</p>
      </div>
    </div>
    <div class="explanation expl-right">
      <div class="explanation-info">
        <p>... or complety remote</p>
      </div>
      <%= image_tag 'computer.png', class:'explanation-image' %>
    </div>
    <div class="explanation expl-center">
      <%= image_tag 'user.png', class:'explanation-image' %>
      <div class="explanation-info">
        <p>5. Find the person you want to <strong>learn</strong> from...</p>
      </div>
    </div>
    <div class="explanation expl-right">
      <div class="explanation-info">
        <p>... and message them to book your lesson</p>
      </div>
      <%= image_tag 'messages.png', class:'explanation-image' %>
    </div>
    <div class="explanation expl-left">
      <%= image_tag 'guitar_lesson.png', class:'explanation-image' %>
      <div class="explanation-info">
        <p><strong>6. Learn</strong> the skill... </p>
      </div>
    </div>
    <div class="explanation expl-right">
      <div class="explanation-info">
        <p>... and pay with your earned points</p>
      </div>
      <%= image_tag 'point.png', class:'explanation-image' %>
    </div>
    <div class="explanation expl-center-left">
      <%= image_tag 'play_guitar.png', class:'explanation-image' %>
      <div class="explanation-info">
        <p>Enjoy your skill</p>
      </div>
    </div>
  </div>
</div>
