<div class="how-it-works">
  <h1>How it works</h1>
  <h2>Want to learn a new skill but have no money to pay for an expansive course?</h2>
  <h3>Welcome to SKILL-UP!</h3>
  <div class="explanations">
    <div class="explanation explanation-1">
      <div class="explanation-info">
        <p>Set up your profile</p>
      </div>
      <%= image_tag 'profile.png', class:'explanation-image' %>
    </div>
    <div class="explanation explanation-2">
      <%= image_tag 'plant.png', class:'explanation-image' %>
      <div class="explanation-info">
        <p>Tell us what skills you can <strong>teach</strong>, eg. gardening</p>
      </div>
    </div>
    <div class="explanation explanation-3">
      <div class="explanation-info">
        <p><strong>Teach</strong> a lesson to someone</p>
      </div>
      <%= image_tag 'gardening.png', class:'explanation-image' %>
    </div>
    <div class="explanation explanation-4">
      <%= image_tag 'point.png', class:'explanation-image' %>
      <div class="explanation-info">
        <p><strong>earn</strong> 10 points each lesson</p>
      </div>
    </div>
    <div class="explanation explanation-5">
      <div class="explanation-info">
        <p>Find the skill you want to <strong>learn</strong>, eg. playing the guitar</p>
      </div>
      <%= image_tag 'guitar.png', class:'explanation-image' %>
    </div>
    <div class="explanation explanation-6">
      <%= image_tag 'city.png', class:'explanation-image' %>
      <div class="explanation-info">
        <p>You can take the lesson either in person in your city</p>
      </div>
    </div>
    <div class="explanation explanation-7">
      <div class="explanation-info">
        <p>or complety remote</p>
      </div>
      <%= image_tag 'computer.png', class:'explanation-image' %>
    </div>
    <div class="explanation explanation-8">
      <%= image_tag 'user.png', class:'explanation-image' %>
      <div class="explanation-info">
        <p>Find the person you want to <strong>learn</strong> from</p>
      </div>
    </div>
    <div class="explanation explanation-9">
      <div class="explanation-info">
        <p>Message them to book your lesson</p>
      </div>
      <%= image_tag 'messages.png', class:'explanation-image' %>
    </div>
    <div class="explanation explanation-10">
      <%= image_tag 'guitar_lesson.png', class:'explanation-image' %>
      <div class="explanation-info">
        <p><strong>Learn</strong> the skill</p>
      </div>
    </div>
    <div class="explanation explanation-11">
      <div class="explanation-info">
        <p>and pay with your earned points</p>
      </div>
      <%= image_tag 'point.png', class:'explanation-image' %>
    </div>
    <div class="explanation explanation-12">
      <%= image_tag 'play_guitar.png', class:'explanation-image' %>
      <div class="explanation-info">
        <p>Enjoy your skill</p>
      </div>
    </div>
  </div>
</div>
