<div class="how-it-works">
  <h1>Welcome to SKILL-UP</h1>
  <p>You want to learn a new skill but have no money to pay for an expensive course? </p>
  <p>With Skill-Up you can learn new skills for free!</p>
  <p>All you have to do is <strong>teach</strong> others, <strong>earn</strong> points and use those points to <strong>learn</strong> a new skill.</p>
  <h2>Here is how it works:</h2>
  <div class="explanations">
    <div class="explanation expl-left">
      <div class="explanation-info">
        <p>1. Set up your profile</p>
      </div>
      <%= image_tag 'profile.png', class:'img img-1' %>
    </div>
    <div class="explanation expl-right">
      <%= image_tag 'plant.png', class:'img img-2' %>
      <div class="explanation-info">
        <p>2. Tell others the skills you can <strong>teach</strong>, eg. gardening</p>
      </div>
    </div>
    <div class="explanation expl-left">
      <%= image_tag 'gardening.png', class:'img img-3' %>
      <div class="explanation-info">
        <p>3. <strong> Teach</strong> someone your skill...</p>
      </div>
    </div>
    <div class="explanation expl-right">
      <%= image_tag 'point.png', class:'img img-4' %>
      <div class="explanation-info">
        <p>... and <strong>earn</strong> 10 points for each lesson</p>
      </div>
    </div>
    <div class="explanation expl-right">
      <div class="explanation-info">
        <p>4. Find the skill you want to <strong>learn</strong>, eg. playing the guitar</p>
      </div>
      <%= image_tag 'guitar.png', class:'img img-5' %>
    </div>
    <div class="explanation expl-left">
      <div class="explanation-info">
        <p>You can take the lesson either in person in your city...</p>
      </div>
      <%= image_tag 'city.png', class:'img img-6' %>
    </div>
    <div class="explanation expl-right">
      <%= image_tag 'computer.png', class:'img img-7' %>
      <div class="explanation-info">
        <p>... or complety remote</p>
      </div>
    </div>
    <div class="explanation expl-left">
      <%= image_tag 'user.png', class:'img img-8' %>
      <div class="explanation-info">
        <p>5. Choose the teacher you want to <strong>learn</strong> from...</p>
      </div>
    </div>
    <div class="explanation expl-right">
      <div class="explanation-info">
        <p>... and message them to book your lesson</p>
      </div>
      <%= image_tag 'messages.png', class:'img img-9' %>
    </div>
    <div class="explanation expl-left">
      <div class="explanation-info">
        <p>6. <strong>Learn</strong> the skill... </p>
      </div>
      <%= image_tag 'guitar_lesson.png', class:'img img-10' %>
    </div>
    <div class="explanation expl-right">
      <%= image_tag 'point.png', class:'img img-11' %>
      <div class="explanation-info">
        <p>... and pay with your earned points</p>
      </div>
    </div>
    <div class="explanation expl-center">
      <div class="explanation-info">
        <p>Don't forget to practice!</p>
      </div>
      <%= image_tag 'play_guitar.png', class:'img img-12' %>
    </div>
  </div>
</div>
